<div class="services">         
  <div class="service-album">
    <%= render partial: '/albums/nav' %>    
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">      
        <%= render 'form' %>
      </div>        
    </div>
    <br><br>   
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>