<h3>類別</h3>
<ul>
  <li>
    <%= link_to messages_path, :style => font_bold_class(messages_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp問題列表
    <% end %>
  </li>
</ul>