<%= simple_form_for @announcement do |f| %>
  <div class="form-group post-form">     
    <%= f.input :title, label:"標題", input_html: { class: "form-control"} %>
  </div>            
  <div class="form-group post-form">      
    <%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "40", width: "80%"} %>
  </div>
  <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-lg btn-primary"%>
<% end %>


<script type="text/javascript">
var editor = new Simditor({
  textarea: $('#announcement_body'),
  toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'link','image', '|','hr','indent','outdent','alignment'],
  placeholder: '這裡輸入公告內容...',
  pasteImage: true,
  fileKey: 'file',
  upload: {
    url: '/announcement_photos',
    params: null,
    connectionCount: 3,
    leaveConfirm: '正在上傳照片, 你確認要離開嗎?'
  }  
});
</script>

