<%= simple_form_for @announcement do |f| %>
  <div class="form-group">     
    <h4><%= f.input :title, label:"標題", input_html: { class: "form-control"} %></h4>
  </div>            
  <div class="form-group">      
    <h4><%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "20", width: "80%"} %></h4>
  </div>
  <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-lg btn-primary"%>
<% end %>