<div class="services">         
  <div class="service-content">
    <div class="page-header">
      <h1>修改公告</h1>
    </div>        
    <%= render 'form' %>
    <br><br>   
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>