<h3>您的新增預約</h3>

<p>
  預約的時段 <%= @reservation.booking_slot.booking_date %> <%= show_time_slot(@reservation.booking_slot.time_slot) %>
  <br><br>
  請到<%= link_to "此網址", url_for(show_user_reservations_url) %>確認預約記錄
</p>