<div id="comment-body">
  <div class="comment-content">
    <p>
      <%= comment.content %>
    </p>
  </div>
  <%= link_to "delete", [comment.message, comment], method: :delete, data: { confirm: "Are you sure?" } %>
  <hr>
</div>