<div class="services">         
  <div class="service-content">
    <div class="container">
      <div> 
        <% if @user && @user.verified %>
          <div class="page-header">
            <h1>恭喜你完成註冊!</h1>
          </div>             
        <% else %>
          <div class="page-header">
            <h1>認證碼輸入錯誤, 請重新註冊!</h1>
          </div>            
        <% end %>     
      </div>

      <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-2 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">輸入資料</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
        </div>
        
        <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">確認郵箱</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
        </div>
        
        <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
          <% if @user && @user.verified %>
            <div class="text-center bs-wizard-stepnum">完成註冊</div>
          <% else %>
            <div class="text-center bs-wizard-stepnum">註冊失敗</div>
          <% end %>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
          <span class="bs-wizard-dot"></span>
        </div>
      </div>
    </div>

    <div> 
      <br><br>
      <% if @user && @user.verified %>
        <%= link_to "返回首頁!", root_path, class: "btn btn-lg btn-primary" %>  
      <% else %>
        <%= link_to "返回註冊!", register_path, class: "btn btn-lg btn-primary" %>  
      <% end %>
    </div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
