<div class="services">          
  <div class="service-content">
    <br><br>
    <%= render partial: "/users/show_user_info" %>
    <br><br>    
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>


