<h3>類別</h3>
<ul>
  <li>
    <%= link_to booking_path, :style => font_bold_class(booking_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp新增預約
    <% end %>
  </li>   
  <li>
    <%= link_to find_reservations_path, :style => font_bold_class(find_reservations_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp查詢預約
    <% end %>
  </li>          
</ul>