<div class="content">
  <div class="wrap">
    <div class="services">
      <div class="services-sidebar">
        <h3>類別</h3>
         <ul>
            <li>
              <%= link_to "#" do %>
                <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp病患預約
              <% end %>
            </li>          
            <li>
              <%= link_to "#" do %>
                <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp看診時間
              <% end %>
            </li>
         </ul>
      </div>            
      <div class="service-content">
        <h3>預約時間</h3>


      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>  


