<div class="content">
  <div class="wrap">
    <div class="services">
      <div class="services-sidebar">
        <%= render partial: "booking_sidebar" %>
      </div>            
      <div class="service-content">
        <h3>預約時間</h3>


      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>  


