<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-display">
    <h3>會員資料</h3>
    <%= render partial: "/users/show_user_info" %>

  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
