<div class="row photo-nav">
  <div class="col-md-12" style="text-align: center;">
    <ul class="list-inline photo-ul">
      <li><%= link_to albums_path do %>
          <i class="material-icons md-48">photo_album</i>
        <% end %>
      </li>
      <li>
        <h1>
          <%= link_to select_albums_path do %>
            <i class="material-icons md-48">cloud_upload</i>
          <% end %>
        </h1>
      </li>        
    </ul> 
  </div>
</div>  