<div class="row photo-nav">
  <div class="col-md-12" style="text-align: center;">
    <ul class="list-inline photo-ul">
      <li><%= link_to albums_path,  title: '相簿首頁', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
          <i class="material-icons md-48" style="font-size: 40px;">photo_album</i>
        <% end %>
      </li>
      <li>
        <h1>
          <%= link_to select_albums_path,  title: '上傳相片', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
            <i class="material-icons md-48" style="font-size: 40px;">cloud_upload</i>
          <% end %>
        </h1>
      </li>        
    </ul> 
  </div>
</div>  