<h3>類別</h3>
<ul>
  <li>
    <%= link_to hand_reservations_path, :style => font_bold_class(hand_reservations_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp手療預約
    <% end %>
  </li>     

  <li>
    <%= link_to body_reservations_path, :style => font_bold_class(body_reservations_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp體雕預約
    <% end %>
  </li>    

  <% if logged_in_as_user? %>
    <li>
      <%= link_to show_user_reservations_path, :style => font_bold_class(show_user_reservations_path) do %>
        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp查詢預約
      <% end %>
    </li>             
  <% end %>
  
</ul>