<div class="services">         
  <div class="service-form">
    <div class="service-form-title">修改專欄</div>
     <%= render 'form' %>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
