/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Helvetica Neue";
}

.alert {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 50px;
  font-size: 18px;  
}

#banner {
  background-color: #666;
  color: #FFF;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;  
  padding-right: 75px;
  padding-left: 55px;
}

#footer {
  background-color: #EEE;
  font-size: 18px;
  min-height: 40px;  
  padding-right: 75px;
  padding-left: 55x;
  margin-top: 20px;
}

#time {
  float: right;
}

#address{
  padding-top: 6px;
  float: right;  
}

.navbar-nav > li > a {
    line-height: 20px;
    font-size: 20px;
}

.dropdown-menu > li > a {
    font-size: 18px;
}

.navbar .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;  
    padding-right: 55px;
    padding-left: 55px;
    background-color: #EEE;
}

.navbar {
    min-height: 0px;
    margin-bottom: 0px; 
}

.navbar-brand {
    font-size: 26px;
}

a:hover { 
  text-decoration: none; 
  font-weight: bold;
}

#archive-date {
  font-size: 0.9em;
  width: 6em;
  display: inline-block;
}
