/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require simditor
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.paginate {
  font-size: 1.4em;
  font-weight: 500;
  text-align:center;
}

div.paginate span {
  padding-left: 6px;
  padding-right: 6px;  
}

.table-responsive {
  white-space: nowrap;
}

.form-control {
  font-size: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
}

.alert {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 50px;
  font-size: 18px;  
}

thead tr th {text-align:center}
tbody tr td {text-align:center; vertical-align: middle;}
table tbody tr td {vertical-align: middle;}

#banner {
  background-color: #666;
  color: #FFF;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;  
  padding-right: 75px;
  padding-left: 55px;
}

#footer {
  background-color: #EEE;
  font-size: 18px;
  min-height: 40px;  
  padding-right: 75px;
  padding-left: 55x;
  padding-top: 7px;
}

#time {
  float: right;
}

.navbar-nav > li > a {
    line-height: 20px;
    font-size: 20px;
}

.dropdown-menu > li > a {
    font-size: 18px;
}

.navbar .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;  
    padding-right: 55px;
    padding-left: 55px;
    background-color: #EEE;
}

.navbar {
    min-height: 0px;
    margin-bottom: 0px; 
}

.navbar-brand {
    font-size: 26px;
    font-weight: bold;
}

a:hover { 
  text-decoration: none; 
  font-weight: bold;
}
