<div class="row photo-nav">
  <div class="col-md-12" style="text-align: center;">
    <ul class="list-inline photo-ul">
      <li style="padding: 0px 5px;">
        <%= link_to "所有文章", categories_path, class: "btn btn-danger", style: "font-weight: bold; font-size: 1.1em;" %>
      </li>      
      <% Category.all.each do |c| %>
        <li style="padding: 0px 5px;">
          <%= link_to c.name, category_path(c), class: "btn btn-danger", style: "font-weight: bold; font-size: 1.1em;" %>
        </li>
      <% end %>
    </ul> 
  </div>
</div>  