<div class="row photo-nav">
  <div class="col-md-12" style="text-align: center;">
    <ul class="list-inline photo-ul">
      <% Category.all.each do |c| %>
        <li style="padding: 0px 5px;">
          <%= link_to c.name, category_path(c), class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul> 
  </div>
</div>  