<div class="services">    
  <div class="service-content">
    <h3>
      <%= simple_form_for @category, { :class => 'form-inline' } do |f| %>
        <%= f.input :name, label:"修改分類名稱：" do %> 
          <%= f.input_field :name %>
          <%= f.submit "Submit", disable_with: 'Submitting...', class: "btn btn-primary"%>
        <% end %>
      <% end %>   
    </h3>                 
    <br><br>       
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
